<h5>User who performed change</h5>
<%- if @model.user %>
	<dl>
	  <dt>Username</dt>
	  <dd><%= @model.user.username %></dd>
	  <dt>Email</dt>
	  <dd><%= @model.user.email %></dd>
	</dl>
<%- else %>
  None
<%- end %>
