<p>Hello <%= @user.email %>!</p>

<p>An administrator has reset your password so you must now update it. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@user, reset_password_token: @token) %></p>

<p>You will be unable to login until your password is updated.</p>
