<%- if @text_template %>
<%- vars = template_variables(@user) %>
<%- vars['reset_link'] = edit_password_url(@user, reset_password_token: @token) %>
<%= @text_template.render(vars).html_safe %>
<%- else %>
Hello <%= @user.email %>!</p>

An administrator has reset your password so you must now update it. You can do this through the link below.

Change your passwsord: <%= edit_password_url(@user, reset_password_token: @token) %>

You will be unable to login until your password is updated.
<%- end %>
