<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= @group.rendered_welcome_email(@user).html_safe %>
  </body>
</html>
