
<%- content_for :end_html do %>
<div class="modal fade" id="edit-modal" tabindex="-1"
    role="dialog" aria-labelledby="edit-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <div class="container-fluid">
                <div class="row">
                  <h3 class="modal-title" id="edit-modalLabel"></h3>
                  <button type="button" class="close" data-dismiss="modal"
                      aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="row">
                  <p class="small">User info and setup.</p>
                </div>
              </div>
            </div>
            <div class="modal-body">
                <p>
                    <!-- <img alt="loading" src="resources/img/ajax-loader.gif"> -->
                </p>
            </div>
        </div>
    </div>
</div>
<%- end %>
<%- content_for :local_js do %>
<script type="text/javascript">
$('body').on('click', '[data-toggle="modal"]', function(){
  // e.preventDefault();
  var link = $(this);
  // var href = link[0].href;
  $(link.data("target") + ' .modal-header .modal-title').text(link.data("title"))
  $(link.data("target")+' .modal-body').load(link.data('remote'), () => {
    var element = document.querySelector("#model_form");
    element.addEventListener("ajax:success", (event) => {
      location.reload();
    });
  });
  $(link.data("target")).modal('show');

  // $('#model_form').
  return false;
});
// $( document ).ready(function() {
//   // location.reload();
//   // debugger
//   // const element = document.querySelector("#edit-model");
//   $('#edit-model').on("ajax:success", (event) => {
//     debugger
//     location.reload();
//   });
//   // element.addEventListener("ajax:error", () => {
//   //   element.insertAdjacentHTML("beforeend", "<p>ERROR</p>");
//   // });
// });

</script>
<%- end %>
