<td class="<%= attr_name.gsub(/[^\w\s]/, '') %>">
  <%- data = model.send(attr_name) %>
  <%- if data.is_a? ActiveRecord::Associations::CollectionProxy %>
    <%- data =  data.join ", " %>
  <%- end %>
  <%= data %>
</td>
