// Graphical variables
// @import "config/fonts";
// @import "config/colors";
// @import "config/bootstrap_variables";

@import "bootstrap";
@import "font-awesome";
@import "rails_bootstrap_forms";


//= require peek
//= require peek/views/performance_bar

@import "peek";
@import "peek/views/performance_bar";
@import "tipsy";
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container-fluid;
  margin-top: 30px; // accommodate the navbar
}

body.peek-enabled {
   margin-bottom: 35px;
 }

#peek {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.profile-nav {
  border-right: 1px solid #cdcdcd;
}
// External libraries
// @import "bootstrap-sprockets";
// @import "bootstrap";
// @import "font-awesome-sprockets";
// @import "font-awesome";

// Your CSS partials
// @import "layouts/index";
// @import "components/index";
// @import "pages/index";
