
<div class="col-md-9 col-lg-10">
  <h2>Custom Properties</h2>
  <%- custom_userdata = @model.custom_userdata.includes([:custom_userdata_type]).group_by(&:custom_userdata_type_id) %>
  <%- CustomUserdataType.all.each do |data_type| %>
    <%- custom_userdatum = custom_userdata[data_type.id].try(:first) || CustomUserdatum.new(user: @model, custom_userdata_type: data_type) %>
    <%= render partial: 'custom_userdatum', locals: { data_type: data_type, custom_userdatum: custom_userdatum, disabled: true } %>
  <%- end %>
</div>

<div class="col-md-9 col-lg-10">
  <h2>Account Activity</h2>

  <p>The 50 most recent accesses made with this account are shown here.</p>

  <p>This includes authentication requests made by other sites and devices. </p>

  <table class="table table-striped">
    <tbody>
      <%- @logins.each do |login| %>
      <tr>
        <%- sp = login.service_provider %>
        <% if sp.kind_of? Doorkeeper::Application %>
          <%- sp = Application.find(sp.id) %>
        <%- end %>
        <% name = sp.try(:name) || sp.to_s %>
        <% url = sp.display_url || sp.to_s %>
        <td><%= link_to name, url %></td>
        <td><%= login.auth_type %></td>
        <td><%= login.created_at.to_formatted_s(:long) %></td>
      </tr>
      <%- end %>
    </tbody>
  </table>
</div>
