<div class="col-md-3 col-lg-2 profile-nav">
  <ul class="nav flex-column">
    <%= nav_link _("Personal Details"), root_path %>
    <%= nav_link _("Authentication devices"), profile_authentication_devices_path %>
    <%= nav_link _("Account activity"), profile_account_activity_path %>
  </ul>
  <hr class="d-none d-sm-block d-md-none" />
</div>
