<%- if [:admin, :manager, :operator].intersection(current_user.roles).any? %>
  <%= nav_link 'Admin Dashboard', admin_dashboard_path %>
<%- end %>
<%= nav_link current_user.name || current_user.username, root_path %>
<li class="nav-item">
  <%= link_to 'Sign out', destroy_user_session_path, :method=>'delete', class: 'nav-link' %>
</li>

